/*colores*/
.colores{
    /* background-color: #e8cca0;
    background-color: #efcf8ecd;*/
    background-color: #f5e6b9c6; 
    /* color: #77d8ff9f */
    /* color:#00223E;
    color:#06314b; */
}

.pag-campaña{
    margin: 2rem 1rem 2rem 1rem;
}
.titulo-evento{
    font-size: 30px;
    font-weight: bold;
    color: #c99d58;
    font-family: Arial, Helvetica, sans-serif;
    animation:zoomIn 1.5s;
    margin: 0.5rem 0.5rem 2rem 5rem;
}
.contenedor-campañas{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content:space-evenly;
    margin: 1rem 3rem 2rem 3rem;
}
.campaña {
    width: 17em;
    height: auto;
    background-color: #ffffff95;
    border-radius: 5px;
    /* margin: 1rem; */
    font-family: Arial, Helvetica, sans-serif;
    animation:zoomIn 1.5s;
    border-radius: 5px;
    box-shadow: 0 0 2px #4d738b;
}
.campaña:hover{
    scale: 1.08;
    transition: 0.5s;
}

.info-campaña{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 0rem;
}
.titulo-campaña{
    color: #c99d58;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
}
.info-campaña p{
    color: #00223E;
    font-size: 14px;
    text-align: start;
}
.redireccion{
    color: #238ab3;
    text-decoration: underline;
    font-size: 16px;
}
.tiempo{
    color: #4d738b;
    font-size: 12px;
    padding: 20px 0px 5px 0px;
    opacity: 0.7;
}
.img-one{
    width: 100%;
    height: 10rem;
    background-image: url(../img/eventos/campaign_Integridad_HEVES.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.img-two{
    width: 100%;
    height: 10rem;
    background-image: url(../img/eventos/campaign_web-01.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.img-three{
    width: 100%;
    height: 10rem;
    background-image: url(../img/eventos/campaign_Control_interno-01.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.img-four{
    width: 100%;
    height: 10rem;
    background-image: url(../img/eventos/campaign_CONOCIENDO_AL_SIS.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .campaña {
        width: 100%;
    }
    .contenedor-campañas{
        justify-content: space-around;
        gap: 2rem;
        margin: 1rem 1rem 2rem 1rem;
    }
    .img-one, .img-two, .img-three, .img-four{
        width: 100%;
        height: 12rem;
    } 
    .titulo-evento{
        margin: 0.5rem 0.5rem 2rem 1rem;
    }
}

@media (max-width: 501px) {
    .titulo-evento{
        text-align: center;
        margin: 0.5rem 0.2rem 2rem 0.2rem;
    }
}

/*noticias*/

.pag-noticias-container{
    /* display: flex;
    flex-direction: column; */
    margin: 1rem 1rem 4rem 1rem;
}

.titulo-noticias{
    font-size: 30px;
    font-weight: bold;
    color: #c99d58;
    font-family: Arial, Helvetica, sans-serif;
    animation:zoomIn 1.5s;
    margin: 2rem 0.5rem 0rem 2.5rem;
    
}

.titulo-nd, .all-noti{
    color: #094e78;
    text-decoration: underline;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    animation:zoomIn 1.5s;
    margin: 2rem 0.5rem 1rem 2.5rem;
    /* border-bottom: solid 1px #094e78; */
}

.img-dest{
    width: 100%;
    height: 220px;
    background-image: url(../img/Noticias/noticia-destacada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.noticia-destacada-container{
    margin: 2rem 1rem 1rem 2.5rem;
    padding: 0rem;
    width: 23em;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    animation:zoomIn 1.6s;
    background-color: #ffffff95;
    border-radius: 6px;
    box-shadow: 0 0 2px #4d738b;
}
.noticia, .noticias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 0rem;
    width: auto;
    height: auto;
}
.noticia p{
    color: #00223E;
    font-size: 14px;
}
.titulo-not-dest{
    color: #c99d58;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    text-decoration: none;
}
.tiempo-not-dest{
    color: #4d738b;
    font-size: 12px;
    padding: 5px 0px 5px 0px;
    opacity: 0.7;
}

/*secciones de noticias*/

.img-noti, .img-noti-one, .img-noti-two, .img-noti-three, .img-noti-four, .img-noti-five,
.img-noti-six, .img-noti-seven, .img-noti-eight, .img-noti-nine, .img-noti-ten,
.img-noti-eleven, .img-noti-twelve, .img-noti-thirteen, .img-noti-fourteen, .img-noti-fifteen,
.img-noti-sixteen, .img-noti-seventeen, .img-noti-eighteen, .img-noti-nineteen{
    width: 100%;
    height: 10rem;
    background-image: url(../img/Noticias/noticia-destacada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.img-noti-one{
    background-image: url(../img/Noticias/179-casos.jpg);
}
.img-noti-two{
    background-image: url(../img/Noticias/3.png);
}
.img-noti-three{
    background-image: url(../img/Noticias/4.jpg);
}
.img-noti-four{
    background-image: url(../img/Noticias/5.png);
}
.img-noti-five{
    background-image: url(../img/Noticias/6.jpeg);
}
.img-noti-six{
    background-image: url(../img/Noticias/7.jpeg);
}
.img-noti-seven{
    background-image: url(../img/Noticias/8.jpeg);
}
.img-noti-eight{
    background-image: url(../img/Noticias/9.jpg);
}
.img-noti-nine{
    background-image: url(../img/Noticias/10.jpg);
}
.img-noti-ten{
    background-image: url(../img/Noticias/11.jpg);
}
.img-noti-eleven{
    background-image: url(../img/Noticias/12.jpeg);
}
.img-noti-twelve{
    background-image: url(../img/Noticias/13.jpg);
}
.img-noti-thirteen{
    background-image: url(../img/Noticias/14.jpeg);
}
.img-noti-fourteen{
    background-image: url(../img/Noticias/15.jpeg);
}
.img-noti-fifteen{
    background-image: url(../img/Noticias/16.jpeg);
}
.img-noti-sixteen{
    background-image: url(../img/Noticias/17.jpeg);
}
.img-noti-seventeen{
    background-image: url(../img/Noticias/18.jpeg);
}
.img-noti-eighteen{
    background-image: url(../img/Noticias/19.jpeg);
}
.img-noti-nineteen{
    background-image: url(../img/Noticias/20.jpg);
}

.noticias-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
}

.noticias-father{
    margin: 1rem;
    padding: 0rem;
    width: 20em;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    animation:zoomIn 1.3s;
    background-color: #ffffff95;
    border-radius: 5px;
    box-shadow: 0 0 2px #4d738b;
}
.noticias-father:hover{
    scale: 1.1;
}

.titulo-not{
    color: #c99d58;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    text-decoration: none;
}

.redireccion-noti{
    color: #238ab3;
    text-decoration: underline;
    font-size: 17px;
    margin: 15px 0px 0px 0px;
}

.tiempo-not{
    color: #4d738b;
    font-size: 11px;
    padding: 15px 0px 0px 0px;
    margin: 0px;
    opacity: 0.7;
}


.noticias-container.active {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
}

.hidden {
    display: none !important; /* Asegura que los elementos con esta clase estén ocultos */
}

/*botones de paginas*/

.pag-contenedor {
    justify-content: center;
    align-items: center;
    margin:0rem;   
    display: flex;
    gap: 2rem;
}
.pag-button {
    /* background-color: #2ebbf3b3; */
    background-color: #f2f2f2;
    color: #c99d58;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: underline;
}
.pag-button:hover {
    background-color:#efdb9eb0;
}

.pag-button.active {
    background-color: #f2f2f2;
    color: #2ebbf3b3;
}
.pag-button-ocultar {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

@media (max-width: 503px) {
    .pag-noticias-container{
        margin: 1rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulo-noticias{
        margin: 1rem;
        text-align: center;
    }
    
    .titulo-nd, .all-noti{
        color: #094e78;
        text-decoration: underline;
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        animation:zoomIn 1.5s;
        margin: 1.5rem 1rem 1.5rem 2rem;
    }
    
    .img-dest{
        width: 100%;
        height: 200px;
    }
    
    .noticia-destacada-container{
        margin: 1.5rem 1rem 0rem 1.9rem;
        padding: 0rem;
        width: 19em;
        height: auto;
    }

    .noticia{
        margin: 1rem 1rem 0rem 1rem;
    }

    .noticias-father{
        margin: 0.5rem 2rem 1.5rem 2rem;
        padding: 0rem;
        width: 100%;
        height: auto;
    }
}