/*Introducción*/

.contenedor-portada {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 2rem 4rem 2rem;
    padding: 2%;
    background-color: #efe7cbbf;
    border-radius: 10px;
    /* background-color: #e8cca0a8; */
}

.div-info {
    width: 40%;
    padding: 0px;
    justify-content: center;
    margin: 0% 0% 2% 0%;
    box-sizing: border-box;
}

.portada-father {
    width: 55%;
    height: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0% 30px 0% 0%;
}

.portada {
    width: 100%;
    height: 380px;
    background-image: linear-gradient(to bottom, rgb(119, 215, 255,0.3),rgb(47, 197, 255,0.3),rgb(0, 139, 208,0.7)), url(../../img/grupohospital.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    /* background-blend-mode:multiply; */
    animation: zoomIn;
    animation-duration: 2s;
}

.especialidad {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #06314b;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 30px 0px 30px;
}

.infoone{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #115884;
    margin: 0px 30px 0px 30px;

    animation: slideInLeft;
    animation-duration: 1.5s;

}

@media (max-width: 768px) {
    .div-info, .portada-father {
        width: 100%; /* Ambos elementos ocupan todo el ancho en pantallas pequeñas */
        padding-right: 0; /* Elimina el margen derecho */
    }
    .portada-father {
        margin: 20px; 
    }
}

/*Contenedor ESUCI*/


.contenedor-otros{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin: 30px 35px 80px 35px;

    color: #115884 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.contenedor-otros p{
    padding: 2px 5px 5px 5px;
    margin: 20px 3px 0px 3px;
}

.cuatro p{
    margin: 10px 3px 0px 3px;
}

.uno, .dos, .tres, .cuatro{
    width: 17rem;
    height: 4rem;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color:#77d7ff;
    overflow: hidden;
    transition: height 1s;
    interpolate-size: allow-keywords;
}

.uno:hover, .dos:hover, .tres:hover, .cuatro:hover{
    height: 12.5rem;
    background-image: linear-gradient(to bottom, rgb(119, 215, 255,0.7),rgb(47, 197, 255,0.7),rgb(0, 139, 208,0.9)), url(../../img/oso.png);
    background-size: cover;
    background-position: center;
    color: #00223E;
}

.uno.abierto, .dos.abierto, .tres.abierto, .cuatro.abierto{
    height: 12.5rem;
    background-image: linear-gradient(to bottom, rgb(119, 215, 255,0.7),rgb(47, 197, 255,0.7),rgb(0, 139, 208,0.9)), url(../../img/oso.png);
    background-size: cover;
    background-position: center;
    color: #00223E;
}


.descripcion{
    font-size: 15px;
    color: #06314b;
    text-align: left;
}